* {
  box-sizing: border-box;
}

body {
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px rgb(255, 47, 47);
  background: white;
  transition: transform 0.3s ease-in-out;
}
.empty:hover
{
  transform: scale(0.9); 
  border-radius: 10px;
  border-color: green;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
